services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.4
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_URL: http://localhost:8080
      KC_HOSTNAME_ADMIN_URL: http://localhost:8080
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      microservices-net:
        aliases:
          - localhost

  service1:
    build:
      context: ./service1
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/demo-realm/protocol/openid-connect/certs
      - AUTH_TOKEN_URI=http://keycloak:8080/realms/demo-realm/protocol/openid-connect/token
      - AUTH_CLIENT_ID=spring-api-client
      - AUTH_CLIENT_SECRET=0CMyWyL8nyXECetrilQVnJFbi8uCRx9W
      - AUTH_SERVICE2_URL=http://service2:8082/api/partner
    depends_on:
      - keycloak
      - service2
    networks:
      - microservices-net

  service2:
    build:
      context: ./service2
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/demo-realm/protocol/openid-connect/certs
    depends_on:
      - keycloak
    networks:
      - microservices-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - service1
      - service2
      - keycloak
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge

volumes:
  keycloak_data: